<div id="petition">
    <h2 id="petition-to-pause-implementation-of-changes-to-grcs-staff-handbook-policy-220-">PETITION to Pause Implementation
        of Changes to GRCS Staff Handbook (Policy 220)</h1>
    <h3 id="background">Background</h3>
    <p>On December 12, 2022 the Board of Trustees of Grand Rapids Christian Schools voted to make additions to the staff
        handbook, which outlines expectations for all faculty and staff of Grand Rapids Christian Schools (GRCS), that
        change GRCS&#39;s response to LGBTQ individuals. The additions, referred to as Policy 220, include a definition of
        marriage (“Grand Rapids Christian Schools believes that God instituted marriage as biblically defined and
        historically interpreted to be between a man and a woman”) and a stance on gender (“GRCS believes that before the
        fall into sin God created us male and female and there was no gender confusion”). The new language also names
        teachers as “ministers of Christ,” who will “align their instruction with the Schools’ view on marriage as found
        above, model this Christian approach to sexuality, and communicate with sensitivity and care.” </p>
    <h3 id="concerns">Concerns</h3>
    <p>We—parents and family members, some of whom are also alumni and/or current staff of GRCS—believe Policy 220 will have
        the unintended effects of harming students and making it harder for GRCS faculty and staff to do their jobs. We
        believe GRCS can create human resources policies for a community with diverse expressions of faith without committing
        to a detailed stance on human sexuality and gender. Finally, we believe better representation in advisory groups and
        subcommittees will lead the Board to make stronger decisions and to more conclusive outcomes in the future.</p>
    <h3 id="requests">Requests</h3>
    <p>While the Holy Spirit continues to lead the Grand Rapids Christian School community in dialogue, we request pausing
        the implementation of Policy 220 until December 2024, during which time the Board of Trustees of Grand Rapids
        Christian Schools will: </p>
    <ul>
        <li>Hold listening sessions, attended by all Board members, that allow thoughtful discussion among all community
            stakeholders regarding the school’s stance on LGBTQ issues</li>
        <li>Revise the language of the policy to create a document that is concise and reflects the richness of our Reformed
            faith</li>
        <li>Take a new vote on the proposed handbook update in December of 2024 and release those results within 24 hours
        </li>
    </ul>
    <h3 id="what-does-it-mean-to-sign-">What Does It Mean to Sign?</h3>
    <p>By signing this petition you are not indicating a specific stance on GRCS’s policy about marriage or gender, but
        instead are agreeing with the request to pause the implementation of Policy 220 to allow time for the suggestions
        above.</p>
    <p>May God guide the words and actions of everyone in our community in the coming months. We will proceed with Micah 6:8
        ringing in our ears:</p>
    <blockquote>
        <p>And what does the LORD require of you? To act justly and to love mercy and to walk humbly with your God.</p>
    </blockquote>
<div>
